.App {
  min-height: 100vh;
  background-color: #1b2125;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.layout {
  display: none;
}
.content {
  background-color: #111;
  padding-top: 1rem;
}
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-button {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #3b3b3b44;
  border-radius: 3rem;
}
*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #9994;
}

/* ----------------------------------------- */

.nav-bar {
  align-items: center;
  background-color: #111;
  border-bottom: 1px solid #9994;
  color: #fff;
  display: flex;
  justify-content: space-around;
  position: sticky;
  z-index: 100;
  top: -1rem;
}
.nav-button {
  cursor: pointer;
  position: relative;
  transition: 0.2s ease;
  color: #fff8;
  font-size: 0.8rem;
  width: 100%;
  padding: 1rem;
  height: 100%;
  text-align: center;
}
.nav-button:hover {
  color: #fff;
}
.nav-button-active {
  color: #fff;
}

.avatar-container {
  width: 2rem;
  min-width: 2rem;
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: center;
}
.history-line {
  position: absolute;
  width: 2px;
  height: calc(100% - 8.5rem);
  background-color: #fff2;
  top: 2rem;
  left: 1.92rem;
}

/* ----------------------------------------- */

.answers-form {
  display: flex;
  margin-top: 0.25rem;
  gap: 0.25rem;
}
.answers-form input {
  border: 1px solid #9994;
  background-color: #222;
  border-radius: 1.25rem;
  width: 100%;
  color: #fff;
  padding: 0.4rem 0.8rem;
  outline: none;
}
.answers-form button {
  display: flex;
  align-items: center;
  background: none;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: #1d9bf0;
  border: none;
  width: 2rem;
  height: 2rem;
  padding: 0.2px 0.5rem;
  transition: 0.2s ease;
}
.answers-form button:disabled {
  cursor: default;
  pointer-events: none;
}
.answers-form button:hover {
  background-color: #1d9bf022;
}
.answer-avatar {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  z-index: 10;
}
.answer-content {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}
.answer-text {
  color: #fffc;
}
.comment-answer {
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
}
.answer-date {
  font-size: 0.75rem;
  color: #fff6;
}
.answer-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.answer-data-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.answer-data-likes {
  display: flex;
}
.answer-data-answers {
  display: flex;
  gap: 0.25rem;
}
.answer-data-icon {
  cursor: pointer;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  transition: 0.2s ease;
}
.answer-like-button .answer-data-icon:hover {
  background-color: #1d9bf022;
  color: #1d9bf0;
}
.answer-dislike-button .answer-data-icon:hover {
  background-color: #f01d1d22;
  color: #f01d1d;
}

/* -------------------------------------- */

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #9994;
  padding: 1rem;
}
.textarea-container {
  border-bottom: 1px solid #9994;
  padding-bottom: 0.75rem;
}
.textarea-container textarea {
  width: 100%;
  background: none;
  border: none;
  height: 8rem;
  font-size: 1.5rem;
  resize: none;
  color: #fff;
  outline: none;
}
.textarea-container small {
  color: #1d9bf0;
  font-weight: 600;
  cursor: default;
  border-radius: 0.75rem;
  padding: 0 0.25rem;
}
.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons .add-container {
  display: flex;
  gap: 0.25rem;
  margin: 0 1rem;
  color: #1d9bf0;
}
.add-img,
.add-location {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  transition: 0.2s ease;
  font-size: 30px;
}
.add-location {
  padding-left: 0.25rem;
}
.add-img:hover,
.add-location:hover {
  background-color: #1d9bf022;
}
.buttons button {
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  width: 6.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  background-color: #1d9bf0;
  color: #fff;
  font-weight: 600;
  transition: 0.2s ease;
  cursor: pointer;
}
.buttons button:disabled {
  cursor: default;
  background-color: #0089e4;
  pointer-events: none;
}
.buttons button:hover {
  background-color: #0089e4;
}

/* ------------------------------------- */

.no-comments-data-alert {
  color: #fff;
  padding: 0.75rem;
}
.comments-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.comment {
  width: 100%;
  border-bottom: 1px solid #9994;
  cursor: default;
  padding: 1rem;
  position: relative;
  color: #fff;
}
.comment-content {
  font-size: 1.25rem;
  display: flex;
  gap: 0.5rem;
}
.comment-avatar {
  width: 2rem;
  height: 2rem;
}
.comment-text {
  font-weight: 600;
}
.comment-date {
  font-size: 0.75rem;
  color: #fff6;
}
.comment-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.comment-data-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.comment-data-likes {
  display: flex;
}
.comment-data-answers {
  display: flex;
  gap: 0.25rem;
}
.comment-data-icon {
  cursor: pointer;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  transition: 0.2s ease;
}
.comment-like-button .comment-data-icon:hover {
  background-color: #1d9bf022;
  color: #1d9bf0;
}
.comment-dislike-button .comment-data-icon:hover {
  background-color: #f01d1d22;
  color: #f01d1d;
}
.comment-data-answers:hover .comment-data-icon {
  background-color: #36f01d22;
  color: #36f01d;
}
.comment-data-answers:hover {
  color: #36f01d;
}
.comment-data-num {
  font-size: 1rem;
}
.comment-data-info {
  font-size: 0.75rem;
}

/* ------------------------------------------------------ */

.spinner {
  height: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid currentColor;
  border-left: 2px solid currentColor;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 460px) {
  .container {
    display: flex;
    box-shadow: 0 1rem 2rem #111;
    border-radius: 2rem;
    width: 55rem;
    overflow: hidden;
    border: 1px solid #fff2;
  }
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    background-color: #0089e4;
  }
  .content {
    width: 100%;
    height: 51rem;
    overflow-y: scroll;
    background-color: #111;
  }
  .App {
    align-items: center;
  }
}
